.content {
    grid-column: 2/7;
    grid-row: 3;
    padding: 40px 0px 0px 0px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 186px);
    grid-template-rows: 40px auto;
    /* column-gap: 48px; */
}