.dashboard {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .dashboard {
        grid-column: 1/5;
        grid-row: 2;
        justify-self: start;
    }
}