.header {
    grid-row: 2;
    grid-column: 2/7;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    position: relative;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .header {
        grid-row: 1;
        grid-column: 1/4;
        font-weight: 800;
        font-size: 32px;
        line-height: 42px;
        position: relative;
    }
}