.item-basic {
    display: block;
    background: var(--light);
    color: var(--dark);
    position: relative;
    overflow: hidden;
    transition: transform 0.25s ease-out;
}

.item-basic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.item-basic .title {
    margin: 0.25em 0em 0em 0.25em;
}

.item-basic .description {
    font-size: .75em;
    overflow: hidden;
    margin: 0em 0em 0.5em 0.25em;
}

.item-basic::after {
    animation: appearLeftWidth 0.25s ease-out;
    display: inline-block;
    content: '';
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 4px;
    background-color: var(--accent);
    position: absolute;
}

@keyframes appearLeftWidth {
    from {
        width: 0%;
    }
}