.item-basic {
    display: block;
    background: var(--light);
    color: var(--dark);
    position: relative;
    overflow: hidden;
}

.item-basic .title {
    margin: 4px 0px 0px 4px;
}

.item-basic .description {
    font-size: .75em;
    overflow: hidden;
    margin: 0px 0px 4px 4px
}

.item-basic::after {
    animation: appearLeftWidth 0.25s ease-out;
    display: inline-block;
    content: '';
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 4px;
    background-color: var(--accent);
    position: absolute;
}

@keyframes appearLeftWidth {
    from {
        width: 0%;
    }
}