:root {
    --light: #EDF2F4;
    --grey: #8D99AE;
    --dark: #2B2D42;
    --accent: #EF233C;
}


body {
    background-color: var(--dark);
    font-family: 'Stem Regular';
    font-style: normal;
    font-weight: 400;
    color: var(--light);
    width: 100vw;
    overflow: hidden;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--dark);
}


.main-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px 40px auto;
    column-gap: 48px;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .main-page {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 50px 50px repeat(auto-fill, 100%);
        grid-column-gap: 24px;
    }
}