.menu {
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: end;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .menu {
        padding: 20px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: start;
    }
}