.progress-bar {
    grid-column: 1/-1;
    grid-row: 1;
    width: calc(50% - 1em);
    height: 2em;
    background-color: var(--light);
    position: relative;
    padding: 0.5em 0.5em 0 0.5em;
}

.progress-bar .progress {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: var(--accent);
    animation: progressWidth 0.25s ease-out;
}

.progress-bar .title {
    color: var(--dark);
    position: absolute;
}

@keyframes progressWidth {
    from {
        width: 0%;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .progress-bar {
        grid-column: 1/5;
        grid-row: 1;
        width: calc(100% - 2em);
        height: 2em;
        background-color: var(--light);
        position: relative;
        padding: 0.5em 0.5em 0 0.5em;
    }
}