.progress-bar {
    grid-column: 1/-1;
    grid-row: 1;
    width: calc(50% - 1em);
    height: 2em;
    background-color: var(--light);
    position: relative;
}

.progress-bar .progress {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: var(--accent);
    animation: progressWidth 0.25s ease-out;
}

.progress-bar .title {
    color: var(--dark);
    position: absolute;
    margin: 0.25em 0px 0px 1em;
}

@keyframes progressWidth {
    from {
        width: 0%;
    }
}